$yellow: rgb(245, 242, 196);

$blue: rgb(78, 78, 114);
$blue-link: rgb(51, 51, 172);
$blue-link-hover: rgb(26, 118, 141);

$pink: rgb(238, 176, 176);

$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);

$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
